<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="cyrillic-software assignment">
    <meta name="author" content="emir hasagic">

    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,600,700|Roboto:300,400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">

    <title>Software assignment</title>

</head>
<body>
    @RenderBody()
    <script src="~/js/custom.js"></script>
</body>
</html>
