%heading {
    font-family: $font-secondary;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-gray-light-1;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    line-height: 1;
    font-weight: 300;

    &--light { color: $color-gray-light-1; }
    &--dark { color: $color-gray-dark-1; }
}

.heading-3 {
    @extend %heading;
    font-size: 2.6rem;
    color: $color-primary;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 2.4rem;
    color: $color-secondary-light;

    &--light { color: $color-gray-light-1; }
    &--dark { color: $color-gray-dark-1; } 
}

.heading-5 {
    @extend %heading;
    font-size: 2.1rem;
    color: $color-primary;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.red {
    color: $color-primary;
}

.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }